{% extends "base.html" %}

{% block content %}
<h1 class="title">
  :: Locro express

INGREDIENTES
Poroto alubia: 150 grs
Poroto negro: 150 grs
Maíz blanco: 150 grs
Cebolla: 2
Zanahoria: 1
Calabaza: 1 mediana
Pimentón ahumado: 4 cdas
Perejil picado: 1 puñado
Pimienta y sal: Cantidad necesaria
Aceite de oliva: Cantidad necesaria

PROCEDIMIENTO
Enjuagá y dejá en remojo los porotos y el maíz, todo por separado, durante 12 horas.
Al otro día, cociná las alubias por 30 minutos a fuego mínimo, los porotos negros por 25 y el maíz por 40.
Cortá la mitad de la calabaza en cuadraditos y al resto rallala. Si querés aprovechar las semillas tostalas en un sartén y luego molelas. Picá groseramente todas las verduras.
En una cacerola grande, dorá la cebolla y la zanahoria con un chorrito de aceite y una pizca de pimienta y sal. Luego agregá la calabaza rallada, el maíz blanco y cocina durante unos minutos. Si es necesario poné un poco del líquido de cocción de los porotos.
Ahora es el turno del resto de la calabaza y, después de 3 minutos, las alubias.
Continuá la cocción durante algunos minutos, agregá los porotos negros.
Cuando todo esté tierno, apagá el fuego, incorporá el pimentón ahumado y rectificá los sabores.
Dejá reposar algunos minutos.
</h1>
<p></p>
{% endblock content %}
